
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap');
*{
 font-family: 'Barlow', sans-serif;

 
}
.mainMenuPage{
   
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color:#5F5F5F;
    left: 0%;
  
  
}
.headerSide {
    width: 100%; 
    height: 22.7vh;
    background-color: #CE2829;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   
}

.headImg{
    margin-top: 7vh;
}
.pageMap{
    display: flex;
    align-self: flex-start;
    color: white;
    margin-left: 38%;
    margin-bottom: 18px;
 
}
.mainMenu{
    margin-top: 31px;
    font-size: 16px;
    line-height: 28.8px;
    font-weight: 400;
    display: flex;
    flex: 2;
    margin-left: 38%;
    margin-right: 34%;
    justify-content: space-between;
    flex-direction: column;
   
    
}
.order{


    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pizzaValues{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;

}
.option{
  
   margin-top: 30px;
    display: flex;
    justify-content: start;
   

}
.optionOrder{
    margin-bottom: 15px;
}

.hoverPointer:hover {
    cursor: pointer;
}
.addMaterial{
    margin-top: 30px;
}
.materials {
    margin-top: 35px;
    display: flex;
    row-gap: 30px;
    justify-content: start;
    flex-wrap: wrap;
}
.materials div{

    width: 166px;
    height: 26px;
  
   
}
.optionHeader{
 
    font-size: 20px;
    font-weight: 500;
    color: black;

}
.orderFinish{
    margin-top: 50px;
}
.resultGroup{
    margin-top: 1em;
    display:  flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
 
}
.cardDesign{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
   
    margin-left: 10%;
    margin-bottom: 10%;

}
.cardTextDesign{
   
    display: flex;
    justify-content: space-between;
}
.resultCard{
    
        width: 350px;
        height: 255px
      
}


@media (max-width: 540px) {
   
 .mainMenuPage{
    top: 0;
  left: 0;
  width: 100vw;
 }
  .pageMap{
    margin-left: 13%;
  }
  .mainMenu{
    margin-left: 13%;
    margin-right: 10%;

  }
  .order{
    width: 100%;
  }
  .option{
    width: 100%;
  }
  .addMaterial{width: 100%;}
  .resultGroup{
    flex-direction: column-reverse;
    width: 100%;
  }
  .resultCard{width: 100%;}
  .resultButton{
    margin-bottom: 50px;
  }
 
  }