@import 'typeface-roboto-condensed';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100vw; /* Tam genişlik */
    height: 100vh; /* Tam yükseklik */
    background-color: black;
    overflow: hidden;
}

.pageImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* EkranResmi taşmadan tam ekran doldurur */
    height: 100vh;

}
.header{
    font-size: 50px;
}
main div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative; 
    background-color: rgba(0, 0, 0, 0.5); /* Hafif şeffaf siyah arka plan */
    color: white;
    width: 35em;
    height: 25em;

  
   
}
