
.back{
    position: absolute;
    top: 0;/* pozisyon */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #CE2829;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 86px;
    font-weight: 200;
    line-height: 1.1;/* Satır Aralığı */
    color: white;

}

@media (max-width: 540px) {
   
    .mid {
        width: 398px;
        height: 540px;
      }
    .message {
        flex-direction: column; 
        justify-content: center;
        text-align: center;
      }
    
      .header span {
        display: block; 
      }
  }